/*html elements*/
body{
	margin:0;
}

/*Banner at top of the page. Site title is linked for navigation.*/
.banner {
	height:75px;
	width:100%;
	background-color: lightgrey;
	margin-top: -20px;
}

.banner a{
	text-decoration: none;
	padding: 20px;
	text-align: center;
	display:block;
	width: 25%;
	margin:0 auto;
	color:black;

}

/*Naviagion*/
.nav {
	width: 100%;
	height:50px;
	background-color: grey;
	color: white;
	margin-bottom: 25px;
}
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
.nav li{
	float: left;
}

.nav li a{
	display: block;
	padding: 15px;
	color: white;
}


/*Footer Styles*/
.footer {

	text-align: center;
	color:white;
	width:100%;
	height: 100px;
	background-color: grey;
	padding-top: 10px;
	clear:both;

}
