a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: lightgrey;
}
.cover-image {
	height: 360px;
	width: 480px;
	background: url(https://i.ytimg.com/vi/1ybrgGaLtRI/hqdefault.jpg); 
	display:block; 
	margin:0 auto;
}

.album-title, .members h2{
	text-align: center;
}

.members li{
	font-style: italic;
}

.album-title h1, .members h2{
	font-family: Bungee Shade, Serif;
}

.album-table {
	width: 80%;
	max-width: 80rem;
	margin:0 auto;

}

.album-table tbody{
	background-color: black;
}

.album-table h2{
	text-align: center;
}

.album-table tbody{
	font-style: italic;
	color: white;
}