/*Simple Layout Grid (very simple)*/

.row {
	max-width: 1080px;
    margin: 0 auto;
    clear:both;
}
.column-4 {
	
	width: 33.333%;
	float:left;
}

/*html elements*/
body{
	margin:0;
}

/*Banner at top of the page. Site title is linked for navigation.*/
.banner {
	font-family: Merriweather, serif;
	font-weight: 900;
	height:75px;
	width:100%;
	background-color: lightgrey;
	margin-top: -20px;
}

.banner a{
	text-decoration: none;
	padding: 20px;
	text-align: center;
	display:block;
	width: 25%;
	margin:0 auto;
	color:black;

}

/*Naviagion*/
.nav {
	width: 100%;
	height:50px;
	background-color: grey;
	color: white;
	margin-bottom: 0px;
}
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
.nav li{
	float: left;
}

.nav li a{
	display: block;
	padding: 15px;
	color: white;
}

.nav a:hover{
	font-weight: bold;
}
.nav a:visited{
	color: #9b3795;
}
.nav a:active{
	text-decoration: none;
}

/*Home page styles*/
.description {
	background-color: #b9b9b9 ;
	padding-top: 25px;
	padding-bottom: 25px;
}

.description img{
	display: block;
    margin: 0 auto;

}

.callout {
	width: 400px;
    margin: 0 auto;
    background-color: lightgrey;

}
.callout p{
	padding:10px;
}


/*Menu page styles*/
.menu h2,p{
	text-align: center;
	padding:0px 15px 0px 15px;

}

.beverages {
	margin-bottom: 25px;
}

.beverages h2{
	text-decoration: underline;
}

table.beverages-table {
		width:100%;
		border-collapse: collapse;
		padding-bottom: 35px;		
}


.beverages-table tr{
	border-bottom: 1px solid black;
}
.beverages-table td{
	padding:15px 15px 0px 15px;
}

/*Contact Form Layout*/
.contactForm {
    width: 75%;
    height: 300px;
}

span.label {
	font-weight: bold;
	display: block;
	padding: 0 20px 0 20px;
	text-align:right;
	float:left;
	width:300px;
}
input.inputItem {
	display: block;
	float:left;
	padding: 0 20px 0 20px;

}

.formRow{
	width:100%;
	float:left;
	clear:both;
	margin-top: 10px;
}

input.rightColumn{
	margin-left: 430px;
	
}


/*Footer Styles*/
.footer {

	text-align: center;
	color:white;
	width:100%;
	height: 100px;
	background-color: grey;
	padding-top: 10px;
	clear:both;

}


