a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: lightgrey;
}
.cover-image {
	height:17rem;
	width:17rem;
	display:block; 
	margin:0 auto;
	padding: 2rem
}

.cover-image img{
	height: 15rem;
	width: 15rem;

}

.album-title, .members h2{
	text-align: center;
}

.members li{
	font-style: italic;
}

.album-title h1, .members h2{
	font-family: Bungee Shade, Serif;
}

.album-table h2{
	text-align: center;
}

