/*Fonts*/

@font-face {
    font-family: 'frente_h1regular';
    src: url('../fonts/fh1/FrenteH1-Regular-webfont.eot');
    src: url('../fonts/fh1/FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fh1/FrenteH1-Regular-webfont.woff') format('woff'),
         url('../fonts/fh1/FrenteH1-Regular-webfont.ttf') format('truetype'),
         url('../fonts/fh1/FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3 {
	font-family: frente_h1regular, cursive;
}

/*html elements*/
body{
	margin:0;
}

/*Banner at top of the page. Site title is linked for navigation.*/
.banner {
	font-family: frente_h1regular, cursive;
	font-weight: 900;
	width:100%;
	margin-bottom: 1rem;
	background-color: #63C6C3;
	height:7.5rem;
	padding-top: .5rem;
}

p.phoneNumber {
	float:right;
	font-size: 4rem;
}

/*Naviagion*/
.nav {
padding-left: 7px;
margin-bottom: 7px;
}

.nav ul{
	list-style: none;
}

/*Custom Bootstrap Overides*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {

	color:black;
	background-color: #63C6C3;
}

a{
	color: #63C6C3;
}

a:hover {
	color: #9A3895;
}

button, input, select, textarea{
	color:black;
}

/*Home page styles*/
.slider {
	margin-bottom: 6rem;
}

.description h1{
	font-size: 10rem;
	color: #63C6C3;
}

.description p{
	font-size: 2.1rem;
}

/*Menu page styles*/

.menu {
	padding-bottom: 5.5rem;
}

.menu h1 {
	font-size: 4em;
	text-align: center;
}
.menu h2{
	padding:0px 15px 0px 15px;
	color: #63C6C3;

}

.menu p{
	padding:0px 15px 0px 15px;

}

.menu img {
    margin-bottom: 3rem;
}

.beverages {
	margin-bottom: 25px;
}

.beverages h2{
	text-decoration: underline;
}

table.beverages-table {
		width:100%;
		border-collapse: collapse;
		padding-bottom: 35px;		
}


.beverages-table tr{
	border-bottom: 1px solid black;
}
.beverages-table td{
	padding:15px 15px 0px 15px;
}

/*Contact Form Layout*/
.contactForm {
    height: 40rem;
    padding: 5rem;
    margin-bottom: 3rem;
    background-color: #9A3895;
   	border-radius: 1.5rem;
   	color: white;
   	font-size: 1.4rem;
}
span.label {
	font-weight: bold;
	display: block;
	padding: 0 20px 0 20px;
	text-align:right;
	float:left;
	width:20rem;
	color: white;
}
input.inputItem {
	display: block;
	float:left;
	padding: 0 20px 0 20px;
}

.formRow{
	width:100%;
	float:left;
	clear:both;
	margin-top: 10px;
}

.send-request {
	margin-top: 1rem;
    margin-left: 20rem;
    color: black;
}
}


ul.socialList {
	list-style-type: none;

}

.socialList li {
	float:left;
	margin:0 .5rem 0 .5rem;
}

/*Footer Styles*/
.footer {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.footer ul{
		list-style: none;
		padding:0;
}



